.home{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.hero{
  height: 92vh;
  border: solid transparent 1px;
  flex-grow: 0;
  flex-shrink: 0;
}
.about{
  height: 92vh;
  
}
.services{
  height: 92vh;
}
.portfolio{
  height: 92vh;
}
.insights{
  height: 92vh;
}
.contact{
  height: 92vh;
}