.home{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.story{
  height: auto;
  border: solid red 1px;

}
.about{
  height: 92vh;
  
}
.services{
  height: 92vh;
}
.portfolio{
  height: 92vh;
}
.insights{
  height: 92vh;
}
.contact{
  height: 92vh;
}