.spriteContainer {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: var(--zindex-animation-ship);
}
.scaleContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    transform-origin: 0% 100%;
}
.sprite {
    border: solid green 1px;
    position: absolute;
    transform-origin: 50% 50%;
    background-repeat: no-repeat;
    z-index: var(--zindex-animation-ship);
}