.navBar{
    font-family: 'Outfit', serif;
    width: 90%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
    border-radius: 35px;
    color: white;
    border: white 1px solid
}
.siteLogo{
    width: 3rem;
    height: 3rem;
    margin: auto 0.5rem;
    border-radius: 35px;
}
.navBarList{
    height: 3rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}
.navBarListItem{
    text-align: center;
    font-size: 1.2rem;
    height: 3rem;
    width: 15%;
    margin-top: 0.4rem;
    border: solid transparent 1px;
    border-radius: 35px;
    padding: 0.6rem;
}
.navBarListItem:hover{
    border: solid black 1px;
}
.contactButton{
    width: fit-content;
    padding: 12px 24px;
    margin: auto 0.5rem;
    height: 3rem;
    text-align: center;
    font-size: 16px;
    border-radius: 35px;
    border: white 1px solid;
    font-family: 'Outfit', serif;
    transition: 0.5s;
}
.contactButton:hover{
    background-color: white;
    color: black;
    opacity: 0.9;
}

@media(max-width: 780px){
    .navBarList{
        width: 60%;
    }
    .navBarListItem{
        font-size: 0.7rem;
    }
    .contactButton{
        font-size: 0.7rem;
    }
}
@media(max-width: 580px){
    .navBarList{
        width: 70%;
    }
    .navBarListItem{
        font-size: 0.6rem;
    }
    .contactButton{
        font-size: 0.6rem;
    }
}