.storyWrapper {
    width: 100%;
    max-width: 177.78vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: var(--zindex-animation-base);
    margin: auto;
  }