.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: var(--zindex-animation-sequences);
}

.wrapper > * {
  position: absolute;
  transform-origin: initial;
}
.deepSpace,
.launchSky,
.launchClouds,
.launchCloudBank,
.launchCloudBankTop,
.launchGlobeSpace,
.launchGround0,
.launchGround1,
.launchGround2,
.launchCopy1,
.launchCopy2,
.launchCopy3,
.launchGround3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  
}

.deepSpace {
  z-index: 2;
}
.launchSky {
  z-index: 1;
}
.launchClouds{
  z-index: 3;
}
.launchCloudBank{
  z-index: 2;
}
.launchGlobeSpace{
  z-index: 2;
}
.launchGround0 {
  z-index: 4;
}
.launchGround1 {
  z-index: 3;
}
.launchGround2 {
  z-index: 2;
}
.launchGround3 {
  z-index: 1;
}
.launchCopy1{
  z-index: 3;
  min-width: 100%;
}
.launchCopy1 > h2{
  color: white;
  font-size: 8vw;
  font-family: 'Bebas_Neue';
  text-shadow: aqua 0px 0px 2px;
}
.launchCopy2{
  z-index: 3;
  max-width: 70%;
}
.launchCopy2 > h2{
  color: white;
  font-size: 6vw;
  font-family: "Bebas_Neue", serif;
  text-shadow: aqua 0px 0px 2px;
}

.launchCopy3{
  z-index: 2;
  min-width: 100%;
}
.launchCopy3 > h2{
  color: white;
  font-size: 6vw;
  font-family: "Bebas_Neue", serif;
  text-shadow: aqua 0px 0px 2px;
}
